In [17]:
import pandas as pd
import os
import glob

In [13]:
folder = 'C:\\Users\\Jerome Pintucan\\OneDrive - TRANSNATIONAL E-BUSINESS SOLUTIONS INC\\EASYCALL\\EASYCALL\\EMPLOYEE MONITORING\\TIMELOGS\\December\\december2023timelogs\\'

filelist = os.listdir(folder)
filelist

['ECP December 2023 Time Logs.xlsx',
 'ECP-VSAT December 2023 Time Logs.xlsx',
 'ITO Bugcrowd December 2023 Time Logs.xlsx',
 'ITO Dataprise December 2023 Time Logs.xlsx',
 'ITO Delinea December 2023 Time Logs.xlsx',
 'TESI December 2023 Time Logs.xlsx',
 'TVI December 2023 Time Logs.xlsx']

In [18]:
extension = 'xlsx'

all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_excel = pd.concat([pd.read_excel(f) for f in all_filenames])

In [19]:
combined_excel

,Unnamed: 0,Week 1,Week 2,Week 3,Week 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,...,Onsite Total,Onsite/WFH Tagging,OnsiteTableDate,Header,Description,Company,Project Name,Contact,Data Analyst ID,Email
0,Jam,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jelly,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jerome,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0.666667,0.666667,0.666667,0.666667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,TESI,SysDev,123.0,22112101.0,jerome.pintucan@tdgworld.com
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,Easycall,Procurement,5324.0,22112101.0,jerome.pintucan@tdgworld.com
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,JK,Marketing Dashboard,352.0,21061001.0,jamile.castro@easycall.com.ph
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,TDG,CFO,325.0,21061001.0,jamile.castro@easycall.com.ph
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,TESI,Executive Dashboard,25324.0,21061001.0,jamile.castro@easycall.com.ph