In [1]:
import numpy as np
import pandas as pd

In [3]:
gsheet_url = 'https://docs.google.com/spreadsheets/d/'
sheet_id = '1xHgmmhVE4IA7F60qnNkuMQ6OxVpR7AEx'

pd.read_excel(f'{gsheet_url}{sheet_id}/export?format=xlsx')

                                             Key Words                Category
0                                           Reasonable                 Pricing
1                                           Overpriced                 Pricing
2                                            Expensive                 Pricing
3                                  Not worth the price                 Pricing
4                                           Great Food  Food Quality and Taste
..                                                 ...                     ...
591  We Ordered The Mr Beast Style Fries With sauce...          Order Accuracy
592         The Fries Were Terrible Matigas Na Makunat  Food Quality and Taste
593        Taste Was Mid Highly Overrated Fries Was To  Food Quality and Taste
594       There Was Missing Drinks That I Paid Grilled          Order Accuracy
595                                   Where is my coke          Order Accuracy

[596 rows x 2 columns]